@{
    Layout = "_Layout.cshtml";
    Page.Title = "Neha Mandhani - About Me";
}

<div id="page" class="container">
	<div id="wide-content">
		<h2>About Me</h2>
		<p><img alt="Neha Mandhani" src="images/_VKS1908.jpg" width="450px" class="image-style1 alignleft" />I am a sustainability and wellness enthusiast inspired to discover ways for a) transformative personal growth and b) making the world a better place. I strongly believe that when each of us lives the most authentic, wholesome and purposeful life possible, great changes manifest in the world.</p>

<p>My newest endeavor in this direction is teaching restorative and slow flow yoga. I completed my 200 hr. yoga teacher training at Avalon Art & Yoga Center in August 2011. I am currently enrolled in the 8-week mindfulness based stress reduction course and have completed a compassion cultivation course at Stanford University. I am greatly inspired by the teachings of Buddhism and continue to deepen my own learning through reading, personal practice and learning from other teachers at various meditation centers in the bay area.</p>

<p>I was inspired to teach after having personally benefitted greatly from yoga (especially a restorative practice) while working in a highly demanding corporate environment where I felt disconnected from my purpose in life. Yoga helped me connect to my inner self and access my own voice to live a more fulfilling life. In a world where we are constantly stimulated and busy striking off items on our to do list, taking the time to slow down can be very transformative. I hope my classes can help people relax, connect with their true self, replenish their souls and feel empowered to make choices that can serve themselves and the world more effectively.Teaching yoga is one of the best things in my life and I am extremely grateful to have this opportunity to share what I learnt from my teachers and mentors with all of you!</p>

<p>Besides teaching yoga and meditation, I work as an internal consultant at Mercedes Benz where I research emerging trends and consumer behavior in the context of sustainability and corporate social responsibility. Prior to working in CSR, I worked as a sales and marketing consultant. I have also worked as an intern on the board of Los Angeles Social Venture Partners.</p>

<p>I hold an undergraduate degree in Engineering and a Masters in Management of Information Systems from Texas A&M University.</p>

<p>I'm a great fan of the California outdoors and greatly enjoy traveling and hiking. I love cooking and exploring new cuisines in my kitchen as well as in the wonderful restaurants around. Reading, meeting new people and conversations about living more fully and influence change in the world always stimulate me and keep my grey cells working.</p>

<p>My friends and family are my greatest gifts and I am forever grateful to have received wonderful support from all of them. I couldn’t imagine my journey thus far without each of them who have touched my lives in numerous ways. I live in Mountain View with my husband Sumit, my greatest source of well – being!</p>
	</div>
</div>
