@{
    Layout = "_Layout.cshtml";
    Page.Title = "Neha Mandhani";
}

@section header{
    <script type="text/javascript" src="scripts\jquery.slidertron-1.1.js"></script>
    <script type="text/javascript" src="scripts\init.js"></script>
}
<div id="banner">
	<div id="slider">
		<div class="viewer">
			<div class="reel">
				<div class="slide">
					<div class="image"><a href="#"><img src="images/slide01.jpg" width="980" height="270" alt="" /></a></div>
				</div>
				<div class="slide">
					<div class="image"><a href="#"><img src="images/slide02.jpg" width="980" height="270" alt="" /></a></div>
				</div>
				<div class="slide">
					<div class="image"><a href="#"><img src="images/slide03.jpg" width="980" height="270" alt="" /></a></div>
				</div>
				<div class="slide">
					<div class="image"><a href="#"><img src="images/slide04.jpg" width="980" height="270" alt="" /></a></div>
				</div>
				<div class="slide">
					<div class="image"><a href="#"><img src="images/slide05.jpg" width="980" height="270" alt="" /></a></div>
				</div>
			</div>
		</div>
		<div class="indicator-bg">
			<div class="indicator-bgleft">
				<div class="indicator-bgright">
					<div class="indicator">
						<ul>
							<li class="active">1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="welcome" class="container">
	<h2><span>Welcome!</span></h2>
	<p>In order for us to give more fully in the world, our own souls need to be replenished and well fed.</p>
    <p>I strongly believe that when we live authentically, speak our own voices, and connect to our deepest purpose, it has a ripple effect on our families, workplaces, local and global communities and our wonderful planet.</p>
	<p>Restorative yoga is one of the many steps in that direction. Welcome to this wonderful journey!</p>
    <p>"All joy in this world comes from wanting others to be happy and all suffering in this world comes  from wanting only oneself to be happy" – Shantideva</p>
</div>
